<div class="row">
    <!-- Column -->
    <div class="col-md-6 col-lg-2 col-xlg-3">
      <div class="card card-hover" >
        <div class="box bg-cyan text-center">
          <h1 class="font-light text-white">
            <i class="mdi mdi-view-dashboard"></i>
            <a href="{% url 'principal:leerTareas' %}">
              </h1>          
              <h6 class="text-white">Tareas </h6>
            </a>
        </div>
      </div>
    </div>
    
    <!-- Column -->
   
    
   
    <!-- Column -->
    <div class="col-md-6 col-lg-2 col-xlg-3">
      <div class="card card-hover">
        <div class="box bg-danger text-center">
          <h1 class="font-light text-white">
            <i class="mdi mdi-border-outside"></i>
            <a href=" {% url 'principal:leerAntecedentes' %}">
          </h1>
          <h6 class="text-white">Antecedentes</h6>
        </a>
        </div>
      </div>
    </div>
    
   <!-- Column -->
    
    
     <!-- Column -->
     <div class="col-md-6 col-lg-2 col-xlg-3">
      <div class="card card-hover">
        <div class="box bg-info text-center">
          <h1 class="font-light text-white">
            <i class="mdi mdi-relative-scale"></i>
            <a href="{% url 'principal:leerCabeza' %}">
          </h1>
          <h6 class="text-white">Cabeza de factura</h6>
        </a>
        </div>
      </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-2 col-xlg-3">
      <div class="card card-hover">
        <div class="box bg-cyan text-center">
          <h1 class="font-light text-white">
            <i class="mdi mdi-pencil"></i>
            <a href="{% url 'principal:leerCategoria' %}">
          </h1>
          <h6 class="text-white">Categoria</h6>
        </a>
        </div>
      </div>
    </div>
     <!-- Column -->
     <div class="col-md-6 col-lg-2 col-xlg-3">
      <div class="card card-hover">
        <div class="box bg-success text-center">
          <h1 class="font-light text-white">
            <i class="mdi mdi-calendar-check"></i>
            <a href="{% url 'principal:leerCiudad' %}">
          </h1>
          <h6 class="text-white">Ciudad</h6>
        </a>
        </div>
      </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-2 col-xlg-3">
      <div class="card card-hover">
        <div class="box bg-cyan text-center">
          <h1 class="font-light text-white">
            <i class="mdi mdi-pencil"></i>
            <a href="{% url 'principal:leerCuerpo' %}">
          </h1>
          <h6 class="text-white">Cuerpo de factura</h6>
        </a>
        </div>
      </div>
    </div>
   
    <!-- Column -->
    <div class="col-md-6 col-lg-2 col-xlg-3">
      <div class="card card-hover">
        <div class="box bg-cyan text-center">
          <h1 class="font-light text-white">
            <i class="mdi mdi-pencil"></i>
            <a href="{% url 'principal:leerDepartamento' %}">
          </h1>
          <h6 class="text-white">Departamento</h6>
        </a>
        </div>
      </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-2 col-xlg-3">
      <div class="card card-hover">
        <div class="box bg-cyan text-center">
          <h1 class="font-light text-white">
            <i class="mdi mdi-pencil"></i>
            <a href="{% url 'principal:leerDesarrolloSesion' %}">
          </h1>
          <h6 class="text-white">Desarrollo de la Sesion</h6>
        </a>
        </div>
      </div>
    </div>
    <!-- Column -->
    <div class="col-md-6 col-lg-2 col-xlg-3">
      <div class="card card-hover">
        <div class="box bg-cyan text-center">
          <h1 class="font-light text-white">
            <i class="mdi mdi-pencil"></i>
            <a href="{% url 'principal:leerDiagnostico' %}">
          </h1>
          <h6 class="text-white">Diagnostico</h6>
        </a>
        </div>
      </div>
    </div>
    <!-- Column -->
    
    <!-- Column -->
    <div class="col-md-6 col-lg-2 col-xlg-3">
      <div class="card card-hover">
        <div class="box bg-warning text-center">
          <h1 class="font-light text-white">
            <i class="mdi mdi-alert"></i>
          </h1>
          <h6 class="text-white">Errors</h6>
        </div>
      </div>
    </div>
    <!-- Column -->
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
          <div class="card card-hover">
            <div class="box bg-cyan text-center">
              <h1 class="font-light text-white">
                <i class="mdi mdi-pencil"></i>
                <a href="{% url 'principal:leerEspecialidades' %}">
              </h1>
              <h6 class="text-white">Especialidades</h6>
            </a>
            </div>
          </div>
        </div>

        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
          <div class="card card-hover">
            <div class="box bg-cyan text-center">
              <h1 class="font-light text-white">
                <i class="mdi mdi-pencil"></i>
                <a href="{% url 'principal:leerEvolucion' %}">
              </h1>
              <h6 class="text-white">Evolucion</h6>
            </a>
            </div>
          </div>
        </div>
            <!-- Column -->
    <div class="col-md-6 col-lg-2 col-xlg-3">
      <div class="card card-hover">
        <div class="box bg-cyan text-center">
          <h1 class="font-light text-white">
            <i class="mdi mdi-pencil"></i>
            <a href="{% url 'principal:leerExamenMental' %}">
          </h1>
          <h6 class="text-white">Examen Mental</h6>
        </a>
        </div>
      </div>
    </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
          <div class="card card-hover">
            <div class="box bg-cyan text-center">
              <h1 class="font-light text-white">
                <i class="mdi mdi-pencil"></i>
                <a href="{% url 'principal:leerExperienciaPsico' %}">
              </h1>
              <h6 class="text-white">Experiencia Psicolbienestar</h6>
            </a>
            </div>
          </div>
        </div>
            <!-- Column -->
    <div class="col-md-6 col-lg-2 col-xlg-3">
      <div class="card card-hover">
        <div class="box bg-cyan text-center">
          <h1 class="font-light text-white">
            <i class="mdi mdi-pencil"></i>
            <a href="{% url 'principal:leerFactoresProtectores' %}">
          </h1>
          <h6 class="text-white">Factores Protectores</h6>
        </a>
        </div>
      </div>
    </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
          <div class="card card-hover">
            <div class="box bg-cyan text-center">
              <h1 class="font-light text-white">
                <i class="mdi mdi-pencil"></i>
                <a href="{% url 'principal:leerFactoresRiesgo' %}">
              </h1>
              <h6 class="text-white">Factores de Riesgo</h6>
            </a>
            </div>
          </div>
        </div>

        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
          <div class="card card-hover">
            <div class="box bg-cyan text-center">
              <h1 class="font-light text-white">
                <i class="mdi mdi-pencil"></i>
                <a href="{% url 'principal:leerHistoriaClinica' %}">
              </h1>
              <h6 class="text-white">Historia Clinica</h6>
            </a>
            </div>
          </div>
        </div>
            <!-- Column -->
    <div class="col-md-6 col-lg-2 col-xlg-3">
      <div class="card card-hover">
        <div class="box bg-cyan text-center">
          <h1 class="font-light text-white">
            <i class="mdi mdi-pencil"></i>
            <a href="{% url 'principal:leerHistoriaVida' %}">
          </h1>
          <h6 class="text-white">Historia de Vida</h6>
        </a>
        </div>
      </div>
    </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
          <div class="card card-hover">
            <div class="box bg-cyan text-center">
              <h1 class="font-light text-white">
                <a href="{% url 'principal:listaMotivosConsulta' %}">
                  <i class="mdi mdi-pencil"></i>
                </a>
              </h1>
              <h6 class="text-white">Motivo de Consulta</h6>
            </div>
          </div>
        </div>
        
            <!-- Column -->
    <div class="col-md-6 col-lg-2 col-xlg-3">
      <div class="card card-hover">
        <div class="box bg-cyan text-center">
          <h1 class="font-light text-white">
            <i class="mdi mdi-pencil"></i>
            <a href="{% url 'principal:leerPais' %}">
          </h1>
          <h6 class="text-white">Pais</h6>
        </a>
        </div>
      </div>
    </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
          <div class="card card-hover">
            <div class="box bg-cyan text-center">
              <h1 class="font-light text-white">
                <i class="mdi mdi-pencil"></i>
                <a href="{% url 'principal:leerPaquetes' %}">
              </h1>
              <h6 class="text-white">Paquetes</h6>
            </a>
            </div>
          </div>
        </div>
            <!-- Column -->
    <div class="col-md-6 col-lg-2 col-xlg-3">
      <div class="card card-hover">
        <div class="box bg-cyan text-center">
          <h1 class="font-light text-white">
            <i class="mdi mdi-pencil"></i>
            <a href="{% url 'principal:leerPersona' %}">
          </h1>
          <h6 class="text-white">Persona</h6>
        </a>
        </div>
      </div>
    </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
          <div class="card card-hover">
            <div class="box bg-cyan text-center">
              <h1 class="font-light text-white">
                <i class="mdi mdi-pencil"></i>
                <a href="{% url 'principal:leerProfesion' %}">
              </h1>
              <h6 class="text-white">Profesion</h6>
            </a>
            </div>
          </div>
        </div>
            <!-- Column -->
    <div class="col-md-6 col-lg-2 col-xlg-3">
      <div class="card card-hover">
        <div class="box bg-cyan text-center">
          <h1 class="font-light text-white">
            <i class="mdi mdi-pencil"></i>
            <a href="{% url 'principal:leerProfesionPersona' %}">
          </h1>
          <h6 class="text-white">Profesion de Persona</h6>
        </a>
        </div>
      </div>
    </div>
        <!-- Column -->
       
            <!-- Column -->
    <div class="col-md-6 col-lg-2 col-xlg-3">
      <div class="card card-hover">
        <div class="box bg-cyan text-center">
          <h1 class="font-light text-white">
            <i class="mdi mdi-pencil"></i>
            <a href="{% url 'principal:leerRecursosEducativos' %}">
          </h1>
          <h6 class="text-white">Recursos Educativos</h6>
        </a>
        </div>
      </div>
    </div>
        <!-- Column -->
        <div class="col-md-6 col-lg-2 col-xlg-3">
          <div class="card card-hover">
            <div class="box bg-cyan text-center">
              <h1 class="font-light text-white">
                <i class="mdi mdi-pencil"></i>
                <a href="{% url 'principal:leerRelacionFamiliar' %}">
              </h1>
              <h6 class="text-white">Relacion Familiar</h6>
            </a>
            </div>
          </div>
        </div>
            <!-- Column -->
    <div class="col-md-6 col-lg-2 col-xlg-3">
      <div class="card card-hover">
        <div class="box bg-cyan text-center">
          <h1 class="font-light text-white">
            <i class="mdi mdi-pencil"></i>
            <a href="{% url 'principal:leerRemision' %}">
          </h1>
          <h6 class="text-white">Remision</h6>
        </a>
        </div>
      </div>
    </div>
        <!-- Column -->
        
            <!-- Column -->
    <div class="col-md-6 col-lg-2 col-xlg-3">
      <div class="card card-hover">
        <div class="box bg-cyan text-center">
          <h1 class="font-light text-white">
            <i class="mdi mdi-pencil"></i>
            <a href="{% url 'principal:leerTarifa' %}">
          </h1>
          <h6 class="text-white">Tarifa</h6>
        </a>
        </div>
      </div>
    </div>
 
            <!-- Column -->
   
                             <!-- Column -->
    <div class="col-md-6 col-lg-2 col-xlg-3">
      <div class="card card-hover">
        <div class="box bg-cyan text-center">
          <h1 class="font-light text-white">
            <i class="mdi mdi-pencil"></i>
            <a href="{% url 'principal:leerTipoPersona' %}">
          </h1>
          <h6 class="text-white">Tipo Persona</h6>
        </a>
        </div>
      </div>
    </div>
                 <!-- Column -->
                 <div class="col-md-6 col-lg-2 col-xlg-3">
                  <div class="card card-hover">
                    <div class="box bg-cyan text-center">
                      <h1 class="font-light text-white">
                        <i class="mdi mdi-pencil"></i>
                        <a href="{% url 'principal:leerTratamiento' %}">
                      </h1>
                      <h6 class="text-white">Tratamiento</h6>
                    </a>
                    </div>
                  </div>
                </div>

  </div>