<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/index.css">
    <title>Psicolbienestar</title>
    
    
 
    

        
    <title>Psicolbienestar</title>
    

</head>
<body>

     <div class="head">

        <div class="logo">
            <img src="/static/media/img/2..png" alt="logo">
        </div>


        <nav class="navbar">
            <a href="{% url 'principal:leerpar' %}" >CRUD </a>
            <a href="{% url 'pantallainicio' %}" > inicio </a>
            <a href="{% url 'catalogo' %}" >Categorias </a>
            <a href="{% url 'registro' %}" >Registrarse </a>
            <a href="{% url 'historiaClinica' %}" >Iniciar Sesion </a>
         </nav>
    </div>
   
   


 <section>

    <a href="{% url 'catalogo' %} "> <img src="/static/media/img/2.jpg" alt="Descripción de la imagen">
    </a>
    <a href="{% url 'catalogo' %}">  <img src="/static/media/img/3.jpg" alt="Descripción de la imagen">
    </a>
    <a href="{% url 'catalogo' %}">
        <img src="/static/media/img/1.jpg" alt="Descripción de la imagen">
    </a>
    <a href="{% url 'catalogo' %}">
        <img src="/static/media/img/4.jpg" alt="Descripción de la imagen">
    </a>
      
       
    
    
    </section>

    <footer class="footer">
        
        <p>Copyright © 2023-2024 PSICOLBIENESTAR 
           Todos los derechos reservados!</p>
        <a href="https://www.facebook.com/psicologiaymente/" class="facebook">
            <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="https://www.instagram.com/mundopsicologos/?hl=es" class="instagram">
            <i class="fa-brands fa-instagram"></i>
        </a>
       
        <a href="https://twitter.com/i/flow/login?redirect_after_login=%2FCOLPSIC" class="twitter">
            <i class="fa-brands fa-twitter"></i>
        </a>
    </footer>
   

    
</body>
</html>