*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
  }
  
  body {
    text-align: center;
    font-family:'Times New Roman', Times, serif;
  }
  
  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background: #008037;
    width: 100%;

  }
  
  .navbar {
    display: flex;
    margin-right: 10px;

  }
  
  .logo img{
    background-size: cover;
    background-position: left;
    height: 100px;
    width: 100px;
    animation: rotar 5s linaer infinite;
  }

  .logo:hover{
    cursor: pointer;
  }

     @keyframes rotar{
       from{
      transform: rotateY(180deg);
     }
     to{
      transform: rotateY(-180deg);
   }
  }

  
 
  
  .navbar a {
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
  }
  
  .navbar a:hover {
    background: #1560bd;
  }
  
  .header {
    
  
  }
  
  

  
  p {
    margin-bottom: 20px;
    font-size: 18px;
    color: white;
    padding: 0 100px;
  }
  
  .btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #008037;
    color: #fff;
    text-decoration: none;
    background: #008037;
  }
  
  .btn:hover {
    background: none;
    
  }
  
  .btn-home {
    display: flex;
  }
  
  .btn-home a {
    margin: 0 10px;
  }

  section {
    display: flex;
    width: 1000px;
    height: 600px;
 }
 section img{
    width: 500px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 8;
    transition: 3s ease;
 }
 section img:hover{
    cursor: wait;
    width: 200px;
    opacity: 1;
    filter: contrast(120%);
 }

footer{
    text-align: center; 
    margin-top: 30px; 
    padding-top: 10px; 
    color: aliceblue;
    border-top: 1px solid #ccc; 
    background-color: #008037;
    
    
}
footer p{
    text-align: center;
    padding: 0%;
    margin: 0%;
}
.fa-brands{
    display: flex;
    align-items: center;
    padding: 50px; 
    color: white;
    font-size: 40px;
}
